booksapp.db
*.iws
*.launch
.externalToolBuilders/
.DS_Store
.idea/
.nb-gradle/
.project
.settings/
.vscode/
atlassian-ide-plugin.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/
desktop.ini/
*.egg
*.pyc
*.egg-info/
*.pydevproject
.eggs/
.installed.cfg
.Python
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
env/
ENV/
lib/
lib64/
parts/
sdist/
target/
var/
venv/

### Devskiller entries
###
### Please do not add anything below this line, your changes will be overwritten
###
__MACOSX/
